
:root {
    --dark-pastel-green: #45B54Aff;
    --office-green: #237A2Aff;
    --white: whitesmoke;
}

body {
    font-family: "Reddit Mono", monospace;
    background-color: black;
    background-image: url('/images/matrix.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

/* Nav custom font */
nav {
    font-family: "Sankofa Display", sans-serif;
    font-size: 200%;
    font-weight: 400;
}

/* Custom form styling */
.custom-form {
    background-color: var(--dark-pastel-green);
    color: black;
}

/* Custom background color */
.custom-background {
    background-color: var(--dark-pastel-green);
    opacity: 0.85;
}


/* Custom card styling */
.custom-card {
    background-color: black;
    color: var(--white);
}

.custom-btn {
    background-color: var(--office-green);
    color: var(--white);
}

.custom-shadow {
    box-shadow: 2px 2px var(--white);
}

/* Custom error message styling  */
.custom-error {
    background-color: black;
    color: red;
}

/* Custom styling for modals */
.custom-modal-input {
    background-color: var(--office-green);
    color: var(--white);

} 

.custom-modal-input:focus {
    background-color: var(--office-green);
    color: var(--white);
}